.containerPerson{
    padding: 1vh;
    align-items: center;
    text-align: center;
}
.containerCompany{
    padding: 1vh;
    text-align: center;
}
.containerDataFromlocation{
    padding: 1vh;
    text-align: center;
}
.divMainForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: 5vh;
}
.meuInput{
  color: #333; /* Cor do texto */
  background-color: #f0f0f0; /* Cor de fundo */ 
  border: 0px;
  border-left: #003063 solid; /* Largura e cor da borda */
  width: 150px; /* Largura do campo de entrada */
  height: 20px; /* Altura do campo de entrada */
  font-size: 14px; /* Tamanho do texto */
  padding: 1vh;
  margin: 5px;
}
.divbtnForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btnSub{
border-radius: 5px;
border: 0px;
width: 30vh;
margin: 1vh;
color: #ffffff;
background-color: #003063;
cursor: pointer;
font-size:14px;
}
.btnFormshome{
text-align: center;
border-radius: 5px;
width: 30vh;
margin: 1vh;
color: #ffffff;
background-color: #003063;

}

.btnhome{
    border-radius: 45px;
border: 0px;
width: 20vh;
padding: 1vh;

}
.Cinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1400px) {
    .containerPerson{
        padding: 0vh;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }
    .containerCompany{
        padding: 0vh;
        text-align: center;
        font-size: 15px;
    }
    .containerDataFromlocation{
        padding: 0vh;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    /* --------------------------------      */
    .divMainForms{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
        margin-top: 6vh;
    }
    .meuInput{
        color: #333; /* Cor do texto */
        background-color: #f0f0f0; /* Cor de fundo */ 
        border: 0px;
        border-left: #003063 solid; /* Largura e cor da borda */
        width: 150px; /* Largura do campo de entrada */
        height: 15px; /* Altura do campo de entrada */
        font-size:15px; /* Tamanho do texto */
        padding: 0vh;
        margin: 3px;
     
      }
  }

  @media (max-width: 490px) {
    .containerPerson{
        padding: 0vh;
        align-items: center;
        text-align: center;
        font-size: 10px;
    }
    .containerCompany{
        padding: 0vh;
        text-align: center;
        font-size: 10px;
    }
    .containerDataFromlocation{
        padding: 0vh;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .divMainForms{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
        margin-top: 6vh;
    }
    .meuInput{
        color: #333; /* Cor do texto */
        background-color: #f0f0f0; /* Cor de fundo */ 
        border: 0px;
        border-left: #003063 solid; /* Largura e cor da borda */
        width: 150px; /* Largura do campo de entrada */
        height: 15px; /* Altura do campo de entrada */
        font-size: 14px; /* Tamanho do texto */
        padding: 0vh;
        margin: 3px;
        font-size: 10px;
      }

  }