#root{
    padding: 0%;
    margin: 0%;
}
.forms{
    margin: 0%;
    padding: 0%;
    display: flex;
    overflow-y: hidden;
}
.divForms{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8cb03;
    padding: 0%;
    margin: 0%;
    width: 80vh;
    height: 100vh;
    border-radius: 0%;
}
.imgForms{
    padding: 0%;
    margin: 0%;
    height: 100vh;
}