.novo-elemento{
    position: fixed;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
   color: #000000;
    width: 400px;
    height: 200px;
    z-index: 2;
    text-align: center;
   
}