#root{
    padding: 0%;
    margin: 0%;
}
.ConMain{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    border-radius: 45px;
}
.forms{
    align-items: center;
    overflow-y: hidden;
    border-radius: 45px;
}
.divForms{
    background-color: #f8cb03;
    border-radius: 0%;
    width:  60vh;
    height: 75vh;
   border-top-right-radius: 45px;
   border-bottom-right-radius: 45px;
}
.imgForms{
   width: 75vh;
   height: 75vh;
   border-top-left-radius: 45px;
   border-bottom-left-radius: 45px;
   
}